<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.petStoreManagement.mapper.EmployeeMapper">

    <resultMap type="com.design.petStoreManagement.pojo.Employee" id="EmployeeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userNo" column="user_no" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="images" column="images" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
        <result property="cardId" column="card_id" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="isWork" column="is_work" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="EmployeeMap">
        select
     *
        from employee
        where id = #{id}
    </select>



    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into employee(user_no, password, images, created_at, user_name, telephone, card_id, address, sex,is_work)
        values (#{userNo}, #{password}, #{images}, now(), #{userName}, #{telephone}, #{cardId}, #{address}, #{sex},#{isWork})
    </insert>
        <!--用select进行分页查询-->
      <select id="getPageListByCondition" resultMap="EmployeeMap">
        select *  from employee where created_at is not null
          <if test="page.key.userName != null and page.key.userName != ''">
              and  user_name like '%' #{page.key.userName}  '%'
          </if>
          <if test="page.key.userNo != null and page.key.userNo != ''">
              and  user_no like '%' #{page.key.userNo}  '%'
          </if>
            <!--排序 desc是降序-->
        order by
        created_at desc
        <!--分页查询-->
      
        limit  #{page.startNum} , #{page.pageSize}
    </select>
     <!--分页查询条数-->
    <select id="getPageListCount" resultType="int">
        select count(id) as count from employee where created_at is not null
        <if test="page.key.userName != null and page.key.userName != ''">
            and  user_name like '%' #{page.key.userName}  '%'
        </if>
        <if test="page.key.userNo != null and page.key.userNo != ''">
            and  user_no like '%' #{page.key.userNo}  '%'
        </if>
    </select>

   

    <!--通过主键修改数据-->
    <update id="update">
        update employee
        <set>
            <if test="userNo != null and userNo != ''">
                user_no = #{userNo},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="images != null and images != ''">
                images = #{images},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="isWork != null">
                is_work = #{isWork},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="telephone != null and telephone != ''">
                telephone = #{telephone},
            </if>
            <if test="cardId != null and cardId != ''">
                card_id = #{cardId},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from employee where id = #{id}
    </delete>
    <select id="getByCardID"  resultMap="EmployeeMap">
        select * from employee where card_id =#{cardId};
    </select>
    <select id="getByUserNo"  resultMap="EmployeeMap">
        select * from employee where user_no =#{userNo};
    </select>
     <select id="getByTelephone" resultMap="EmployeeMap">
         select * from employee where telephone=#{telephone};
     </select>
</mapper>

